<html ng-app="DataView">
  <head>
    <title>Data Viewer</title>
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" type="text/css" href="/static/lib/angular-bootstrap-colorpicker/css/colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/lib/Chart.js/Chart.min.js"></script>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/static/lib/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="/static/scripts.js"></script>
  </head>
  <body ng-controller="BodyController">
    <h1 class="page-header form-inline">
      Data for Device
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lg fa-lock"></i></span>
        <input ng-model="arduino.externalName" class="form-control" placeholder="Arduino Name" ng-disabled="!password">
        <span class="input-group-btn"
              ng-if="!(loadingData || loadingError || arduino.savedExternalName === arduino.externalName)">
          <button class="btn btn-default save-button" ng-click="saveArduinoName()">Save Name</button>
        </span>
      </div>
      <input class="small inline-input form-control" type="password" placeholder="password" ng-model="password">
      <a class="btn btn-primary pull-right download-button"
         ng-href="/api/arduinos/{{arduino.id}}/downloadCSV?UTCOffset={{UTCOffset}}">
        <span class="fa fa-download"></span> Export to CSV
      </a>
    </h1>
    <div ng-if="loadingData">
      <h2>Please wait</h2>
      <i>Loading data...</i>
    </div>
    <div ng-if="loadingError">
      <h2>Whoops! Something went wrong.</h2>
      <i>Error code: {{loadingError}}
        <span ng-if="loadingError === 404">. <b>Are you sure you spelled the Arduino name right?</b></span>
      </i>
    </div>
    <div ng-if="!loadingData && !loadingError">
      <div ng-repeat="column in columns" ng-if="!column.hidden" class="column-view">
        <h2 class="form-inline">
          <div ng-class="column.savedExternalName !== column.externalName ? 'input-group' : 'inline-block'">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lg fa-lock"></i></span>
              <input class="form-control" ng-model="column.externalName" placeholder="Column Name" ng-disabled="!password">
            </div>
            <span class="input-group-btn" ng-if="column.savedExternalName !== column.externalName">
              <button class="btn btn-default save-button" ng-click="saveColumnName(column)">Save</button>
            </span>
          </div>
        </h2>
        <div ng-class="column.savedColor !== column.color ? 'input-group' : 'inline-block'" class="graph-color-picker-container">
          <input
            class="form-control graph-color-picker"
            colorpicker="hex"
            type="text"
            ng-model="column.color"
            spellcheck="false"
            style="width: 58px;"
            ng-style="{ background: column.color }"
            ng-disabled="!password">
          <span class="input-group-btn block" ng-if="column.savedColor !== column.color">
            <button class="btn btn-default" ng-click="saveColumnColor(column)">Save</button>
          </span>
        </div>
        <button class="btn btn-default hide-button" ng-click="setColumnHidden(column, true)" ng-disabled="!password">
          <i class="fa fa-lg fa-lock" ng-show="!password"></i>
          Hide
        </button>
        <div class="graph-container">
          <canvas
            class="chart chart-line"
            chart-data="column.graphValues"
            chart-series="['data']"
            chart-labels='column.graphLabels'
            chart-colours='[column.color]'></canvas>
        </div>
      </div>
      <div ng-repeat="column in columns" class="column-view" ng-if="column.hidden">
        <span ng-bind="column.externalName"></span>
        <button class="btn btn-default" ng-click="setColumnHidden(column, false)">Show</button>
      </div>
    </div>
  </body>
</html>
