body {
  padding-left: 20px;
  padding-right: 20px;
}

.form-inline:not(.page-header) {
  display: inline;
}

.block {
  display: block;
}

.graph-color-picker-container {
  vertical-align: middle;
  margin-top: -10px;
}

.hide-button {
  margin-top: -10px;
  margin-left: 60px;
}

h2 input.form-control:not(.small), h1 input.form-control:not(.small) {
  font-size: 1em;
  height: 2em;
}

h1 input.form-control.small {
  width: 100px !important;
}

h2 .save-button {
  font-size: 30px;
  height: 2em;
}

h1 .save-button {
  font-size: 30px;
  height: 72px;
}

.graph-container {
  width: 800px;
  max-width: 100%;
}

.input-group {
  display: inline-block;
}

.graph-color-picker {
  cursor: pointer;
  font-size: 0px;
}

.inline-block {
  display: inline-block;
}

.column-view {
  padding-bottom: 50px;
}

.download-button {
  margin-top: 20px;
}

.inline-input {
  width: 200px !important;
}
